*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

html , body {
    font-family: "LatoWeb";
    font-size: 16px;
    color: #000;
    line-height: 20px;
}

.bg-img-1 {
   background-image: url("../media/banner.png");
   height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.container {

    width: 100%;
    padding: 0px 50px;

}

.row {
    display: flex;
    
}

.d-flex {
    display: flex;
}

.justify-content-end{
    justify-content: end;
}

.col-3{
    width: 25%;
    
}

.col-9{
    width: 75%;

}


.nav ul {
 display: flex;
  list-style-type: none;
  justify-content: end;
}


.nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    color: #3a3838;

}

.nav ul li a:hover {
    background-color: #0097A7;
    border-radius: 4px;
    color: white;
}

.py-8 {
    padding: 8px 20px;
}

.logo img {
width: 45px;

}

.logo a {
    text-decoration: none;
    color: black;
}

.ml-30{
    margin-left: 30px;
}

.bg-light {
    background-color: #f6fcffc2;
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.align-items-center {
    align-items: center;
}

.bg-dark-light {
    background-color: #7c7d7fd9;
}

.text-white {
    color: white;
}

.text-dark {
    color: black;
}

.fw-600 {
    font-weight: 600;
}

.shadow {
    box-shadow: 0px 3px 6px 2px #3c3c3c52;
}

.fixed-top {
    position: fixed;
    width: 100%;
    
}

.list-data a {
    text-decoration: none;
    color: black;
}

.list-data li {
  display: flex;
  display: flex;
      font-size: 18px;
      font-weight: 500;
      padding: 6px 0px;
}

.list-data img {
width: 25px;
height: 25px;
object-fit: cover;


}

.list-data span {
    padding-left: 8px;

}

.icon-size {
    font-size: 28px;
    color: #006064;
}

.py-10 {
    padding:40px 0px;
}

footer h4 {
    font-size: 24px;
    font-weight: 600;
}

.social-icon  {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.social-icon a {
    text-decoration: none;
    color: #0097A7;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: 2px solid #0097A7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;

}

footer {
background-color: #d8ddde91;
}

footer ul {
    margin-top: 16px;
}

.img-fluid {
    
    max-width:100% ;
}

.text-center {
    text-align: center;
}

.d-block {
    display: block;
}

.copyright {
    border-top: 2px solid black;
    color: white;
    padding: 16px 0px;
    font-size: 14px;
    background-color: #000000bf;
}

.hero-title {
    font-weight: 700;
    background-color: #00000073;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 1px 3px 6px 1px #f7f7f72b;
}
.hero-title h3 {
    font-size: 22px;
    padding: 6px 0px;
 color: #eeeeee9c;
 font-weight: bold;
}

.hero-title h1 {
    font-size: 28px;
    padding: 6px 0px;
 color: #f8f8f8;
 font-weight: bold;

}

.hero-title h2 {
    line-height: 28px;
    font-size: 30px;
    padding: 6px 0px;
 color: #00ffdf;
 font-size: 30px;
 font-weight: bold;

}

.hero-title button {
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    margin-top: 25px;
    color: #fffcfc;
    font-size: 16px;
    padding: 14px 16px;
    border-radius: 30px;
    border: solid 3px #e64a19;
    text-transform: uppercase;
    background-color: transparent;
}

.hero-title button:hover {
    transition: .5s;
    overflow: hidden;
    background-color: #e64a19;
}




.h-100vh {
    height: 100vh;
}

.card {
    border: 2px solid #0097A7;
    padding: 25px 20px ;
    border-radius: 16px;
    text-align: center;
    margin: 0px 20px;
}

.card h3 {
    font-weight: bold;
    font-size: 25px;
    color: #e64a19;
}

.card p {
    font-size: 18px;
    padding-top: 10px;

}

.justify-content-between {
    justify-content: space-between;
}

.d-md-none {
  display: none;
}


.text-primary {
    color:#e64a19;
}

.bg-primary-light {
    background-color: #00838f29;
    
}

.rounded-4 {
    border-radius: 16px;
}

.mx-8 {
    margin: 0px 25px;
}

.card-box {
margin: 0px 16px;
}

.card-box i {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 110px;
    background-color: #ffffff;
    color: #0097a7;
    border-radius: 60px;
    margin: 36px auto 0px;
    box-shadow: 3px 5px 7px 2px #00000036;
    

}

.fs-30 {
    font-size: 30px;
}

.card-box button {
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-top: 25px;
    color: #2e2d2d;
    font-size: 16px;
    padding: 14px 30px;
    border-radius: 50px;
    border: solid 3px #e64a19;
    text-transform: uppercase;
    background-color: transparent;
    min-height: 108px;
    
}

.card-box button:hover {

    transition: .5s;
    overflow: hidden;
    background-color: #e64a19;
    color: white;
}



@media(max-width:767px) {
    .col-9,
    .col-3 {
        width: 100%;
        padding: 10px 0px ;

    }
    .row {
        display: block;
        width: 100%;
    }
    .card {
        margin: 10px 0px;
    }
    
    .hero-title h1, 
    .hero-title h2, 
    .hero-title h3 {
        font-size: 22px;
        
    }
    
    .align-items-center-sm {
        align-items: end;
        padding-bottom: 10px;
    }

    .d-none {
        display: none;
    }

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
}
.d-block {
    display: block;
}
.nav ul {
    display: block;
}

.nav {
    position: absolute;
    background-color: #FAFAFA;
    padding: 14px 2px;
    width: 100%;
    left: 0;
}
.nav ul li a {
    padding: 7px 20px;
    display: block;
}
.py-0 {
    padding: 0px 0px;
}



}





